<script>
	var item_quantity_id = $(".modalInspector #item_quantity_id"); 
	var note = $(".modalInspector #note"); 
	var price = $(".modalInspector #price"); 
	var payment_type = $(".modalInspector #payment_type"); 
	var exchange_only = $(".modalInspector #exchange_only"); 
	var datetime = $(".modalInspector #datetime");
	var allFields = $([]).add(item_quantity_id).add(exchange_only).add(price).add(payment_type).add(note).add(datetime); 
	var tips = $(".validateTips");
</script>

<%if !@message.nil?%>
  <script language="JavaScript">
    showSuccess("<%=@message%>", "#modalDialogForm");
  </script>
<%end%>

<%if !@error_message.nil?%>
  <script language="JavaScript">
    showError("<%=@error_message%>", "#modalDialogForm");
  </script>
<%end%>

  <script language="JavaScript">
  
    function showHidePrice(exchangeOnly){
      if(exchangeOnly){
        $("#sale_price").hide();
        $("#sale_payment_type").hide();
      } else {
        $("#sale_price").show();
        $("#sale_payment_type").show();
      }
    }
    
    $("#exchange_only").change(function(){  
      console.log("#exchange_only changed");
      var isChecked = $('#exchange_only').attr('checked')?true:false;  
      showHidePrice(isChecked);
    });
    
    $("#exchange_only").change();
 
 //   $("#date").datepicker();
    
    $("#datetime").datetime({
                          duration: '',  
                          showTime: true,  
                          constrainInput: false,  
                          stepMinutes: 1,  
                          stepHours: 1,  
                          altTimeField: '',  
                          time24h: false });
  
  </script>


<form class="modalInspector" id="modalDialogForm">
  <%= hidden_field_tag :item_quantity_id, @item_quantity.id %>
  <table border="0" cellspacing="0" cellpadding="2" style="width: 100%" id="deliver_items_form_table">
    <thead>
      <%= render :partial => "/products/product_details_header" %>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">
        	
       	<div class="formHolder">
       		
        <% if has_role?("manager")%>
          <div class="formElementBinder">
            <label>Дата, час: </label>
            <div class="form_element ">
              	<input name="datetime" id="datetime" type="text"  value="<%= @datetime%>"> 
            </div>
          </div>
        <%end%>

          <div class="formElementBinder">
            <label>Цвят:</label>
            <div class="form_element  ">
              <%=getColorPreviewBox(@item_quantity.item.color)%>
            </div>
          </div>
          
          <div class="formElementBinder">
            <label>Номер:</label>
            <div class="form_element  ">
              <input type="text" id="size" name="size" disabled="disabled" class="disabledFormElement" value="<%=@item_quantity.item.size %>">
            </div>
          </div>
          
          <div class="formElementBinder">
            <label>Замяна: </label>
            <div class="form_element  ">
              <%= check_box_tag :exchange_only, true,  @exchange_only == "true" -%>  
            </div>
          </div>
          
          <div class="formElementBinder" id="sale_price" style="display: none">
            <label>Сума: </label>
            <div class="form_element  ">
              <input type="text" id="price" name="price" value="<%=@item_quantity.item.price %>">
            </div>
          </div>
          
          <div class="formElementBinder" id="sale_payment_type">
            <label>Начин на плащане:</label>
            <div class="form_element  ">
              <%= select_tag(:payment_type, options_from_collection_for_select(@payment_types, :id, :alias, @item_operation.payment_type) )%>
            </div>
          </div>
                   
          <div class="formElementBinder">
            <label>Бележка: </label>
            <div class="form_element text_area">
              <textarea id="note" name="note"><%=@item_operation.note %></textarea> 
            </div>
          </div>
         
          
        </div><p class="validateTips"></p></td>
      </tr>
    </tbody>
  </table>
</form>
